
#connie{
	text-align: center;
}
#connie img{
	border: 10px solid grey;
}

#jasmine {
	background:lightblue;
	text-align: center;
	width:60%;
	margin:10px auto;
	border:3px dashed #036;
	padding-bottom:10px;
}
#jasmine p {
	color:#036;
	font-family:georgia, "palatino linotype", palatino, serif;
	padding:10px;
}
#jasmine img {
	width:45%;
	border:1px solid #036;
	margin: 0 10px;
}

#hassan button {
  background-color: green;
  color: yellow;
  border-color: green;  
}

